<% provide(:title, 'About') %>
<div class = "row">
  <div class = "col-md-6 col-md-offset-2" >
    <h3>What is Data Feud?</h3>
    <p>Data Feud is an interactive game, inspired by the television game show Family Feud, which has two teams competing to correctly guess survey data.  The purpose of the game is to share statistics, survey results and quantitative data in a workshop setting.  The game is available on this website and is projected on to a screen.   The room is set up so that it reflects a game show stage (a game show host at the center, two teams lined up on both sides of the host and an audience that views the game)  The game show host leads the two teams, each with several people drawn from the audience, to engage in friendly competition to pursue answers to questions which are of interest to the communities involved.</p>
    <h3>Why Data Feud?</h3>
    <p>Data &mdash; government data, report findings, survey data, findings from literature reviews, etc. &mdash; is indispensable. It serves as the basis for decision-making, helps to shape policy, and influences public opinion. Often, community organizations need to share important data with their communities. But have you ever stood in front of a room and watched the energy drop once statistical data is presented? <br><br>In our many decades of experience working with data and grassroots communities, we often found that there are serious barriers in getting communities to engage with data. Data Feud was created to address this issue, to help make important data come alive. Traditional educational modes, like PowerPoint presentations or fact sheets, are helpful but often alienating. Many people disengage when presented with pure statistical facts and numbers. In an effort to combat this, Data Feud takes a more popular approach to education &mdash; incorporating pop culture and competitive gaming into a social justice frame. We found that the television show Family Feud, which is a game about surveys, was the perfect model for creating an interactive, familiar and engaging educational experience. </p>
      <blockquote>
       <p>&ldquo;Data Feud  creates high energy in pursuit of answers. What is learned is less likely to be forgotten.&rdquo;</p>
        <footer style="margin-top: 0%;">Walter Davis<cite title="Source Title"> Executive Director, National Organizers Alliance</cite></footer>
      </blockquote>
      <h3>Data Feud allows organizers to: </h3>
    <ul>
      <li>Present community-relevant data in a fun and engaging way</li>
      <li>Share data findings</li>
      <li>Reveal mainstream data/information about the community to the community </li>
      <li>Affirm the expertise of the community!</li>
    </ul>  
  </div>
</div>



