<% provide(:title, 'Case Studies') %>
<div class = "row">
  <div class = "col-md-6 col-md-offset-2" >
    <h3>Case Study | Khmer Girls for Action (KGA): </h3>
    <p>KGA works primarily with young girls of Southeast Asian descent in Long Beach, Ca. Most are from low-income, immigrant and/or refugee families. KGA launched a participatory (youth-designed and implemented) research project, in partnership with DataCenter, to assess the needs and conditions of Khmer youth in Long Beach. The research focused around issues of reproductive justice, immigrant &amp; refugee rights and health &amp; safety. Just over 500 surveys were used to collect the information which was then presented to KGA through Data Feud. The game was able to take data, that could often be seen as bland and alienating, and bring it to life &ndash; the numbers became a part of their storytelling.</p>
      <%= image_tag("KGA.jpg", :alt => "KGA Girls", :align=> "right", :class=>"img_with_padding") %>
      <span class="caption">Khmer Girls for Action (KGA) used Data Feud to share the results of the 500 surveys they collected.</span>
    <blockquote>
       <p>&ldquo;[Our grant-makers] loved it! We had a great time and we had the room up and laughing. The fact that Data Feud was an interactive process helped the results sink it. Our grant-makers got to try to think of the answers themselves, which was fun and helped people remember what the results of the survey actually were.&rdquo;</p><br>
        <footer style="margin-top: 0%;">Kazu Haga<cite title="Source Title">Program Coordinator, The Peace Development Fund</cite></footer>
      </blockquote>
    <h3>Testimonials: </h3>
    <p>In 2011, Kazu Haga, program coordinator of the Peace Development Fund, conducted a survey of the Bay Area Justice Funders Network of grantees to discover which grant-maker practices were useful and which were hindering. With the survey results, Kazu created a customized game of Data Feud, which was then used to inform the grant-makers. Kazu&rsquo;s data, combined with Data Feud, helped to illuminate areas where grant-makers and grantees needed more transparency and accountability.</p>
    
  </div>
</div>



