<% provide(:title, 'Contact') %>
<div class="contact">
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3" >
      <p>DataCenter<br>2201 Broadway, Suite 508<br>Oakland, CA 94612<br>
      Phone: +1 (510) 835-4692
      Email: <a title="Email DataCenter" href="mailto:info@datacenter.org">info [at] datacenter [dot] org</a>
      <br>
      <b>Questions? Comments?</b> Contact <a title="Mail Jay" href="mailto:jay@datacenter.org">Jay [at] datacenter [dot] org</a>
      <br><br>
      <i>DataCenter is a tax-exempt 501c3
      Tax ID# 94-2452354</i>
      </p>
    </div>
  </div>
</div>